'.source.js':
  'Oz: h.pure(....)':
    prefix: 'hpr'
    body: 'const ${1:Comp} = h.pure(({$2}) => {\n\t$3\n})'

  'React: componentDidMount() { ... }':
    prefix: 'cdm'
    body: 'componentDidMount() {\n\t${1}\n}${2}'

  'React: componentDidUpdate(pp, ps) { ... }':
    prefix: 'cdu'
    body: 'componentDidUpdate(${1}) {\n\t${2}\n}${3}'

  'React: componentWillMount() { ... }':
    prefix: 'cwm'
    body: 'componentWillMount() {\n\t${1}\n}${2}'

  'React: componentWillReceiveProps(np) { ... }':
    prefix: 'cwr'
    body: 'componentWillReceiveProps(nextProps) {\n\t${1}\n}${2}'

  'React: componentWillUnmount() { ... }':
    prefix: "cwun"
    body: "componentWillUnmount() {\n\t${1}\n}${2}"

  'React: componentWillUpdate(np, ns) { ... }':
    prefix: 'cwu'
    body: 'componentWillUpdate(${1}) {\n\t${2}\n}${3}'

  "React: getInitialState() { return {...} } ":
    prefix: "gis"
    body: "getInitialState() {\n\treturn {\n\t\t${1}: ${2}\n\t};\n},"

  'React: propTypes { ... }':
    prefix: 'pt'
    body: 'propTypes: {\n\t${1}: PropTypes.${2:string}\n},'

  'React: class skeleton':
    prefix: 'rcl'
    body: 'class ${1:Component} extends React.Component {\n\trender() {\n\t\treturn (\n\t\t\t${2:<div></div>}\n\t\t);\n\t}\n}'

  'React: createClass skeleton':
    prefix: 'rc'
    body: 'const ${1:Component} = React.createClass({\n\n\trender() {\n\t\treturn (\n\t\t\t${2:<div></div>}\n\t\t);\n\t}\n\n});'

  'React: render() { return ... }':
    prefix: 'rr'
    body: 'render() {\n\treturn (\n\t\t${1:<div />}\n\t);\n}'

  'React: setState({ ... })':
    prefix: 'sst'
    body: 'this.setState({\n\t${1}: ${2}\n});'

  'React: cx( ... )':
    prefix: 'clx'
    body: 'cx($1)'

  'React: pure component':
    prefix: 'rp'
    body: 'const ${1:Comp} = ({$2}) => {\n\t$3\n}'

  'JS: Object function definition () {}':
    prefix: 'ofn'
    body: '${1:func}(${2:args}) {\n\t$3\n}'

  'JS: Pragma':
    prefix: 'pgm'
    body: '// ------------------------------------------------------------\n// ${1: Pragma}'

'.source.coffee':
  'Coffee: Pragma':
    'prefix': 'pgm'
    'body': '# ------------------------------------------------------------\n# ${1: Pragma}'

'.source.ruby':
  'Ruby: pragma':
    'prefix': 'pgm'
    'body': '# ------------------------------------------------------------\n# ${1: Pragma}'

'.source.css.scss':
  'CSS: pragma':
    'prefix': 'pgm'
    'body': '// ------------------------------------------------------------\n// ${1: Pragma}'

'.source.gfm':
  'Spec: Rich Hickey Style':
    'prefix': 'rhspec'
    'body': """
      # ${1: Title}

      ## The problem

      - ${2}

      ## What we know

      - ${3}

      ## Questions

      - ${4}

      ## Related Problems

      - ${5}

      ## Requirements

      - ${6}
    """
  'Routines: daily':
    'prefix': 'dl'
    'body': """
      ---

      ### ${1:Date:}

      - Wake up at 7AM?   ${2:Y/N}
      - Pimsleur course?  ${3:Y/N}

      #### Day Summary

      *(Family, Wit, Health, Relationships)*

      ${4}

    """
  'Routines: weekly':
    'prefix': 'wl'
    'body': """
      ---

      ### ${1:Date:}

      #### Family

      - Do you know what they are up to and thinking?           ${3:Y/N}

      ${4}

      ### Wit

      - Where you a good leader and mentor?                     ${5:Y/N}
      - Where you proactive, positive, execution oriented?      ${6:Y/N}
      - Was impact high level, or table stakes?                 ${7:Y/N}

      ${8}

      **Health / Habits**

      - Did you work out 3 times?                               ${9:Y/N}
      - Did you wake up at 7AM most days?                       ${10:Y/N}
      - Did you do pimsleur?                                    ${11:Y/N}

      ${13}

      ### Relationships

      - Have you met with at least two friends?                 ${12:Y/N}

      ${14}

      ### State Checklist

      - Well Shaven                                             ${13:Y/N}
      - Room is clean                                           ${14:Y/N}
      - Nails taken care of                                     ${15:Y/N}
      - Well groomed                                            ${16:Y/N}
      - clean clothes ready                                     ${17:Y/N}
      - Gym clothes in bag                                      ${18:Y/N}
      - Spoken with Mamiko                                      ${19:Y/N}
      - Spoken with Dediko                                      ${20:Y/N}
      - Spoken with Nino                                        ${21:Y/N}
      - Spoken with Eliza                                       ${22:Y/N}
      - Worked at a consistent time                             ${23:Y/N}
      - Omnifocus is reviewed                                   ${24:Y/N}
      - Updated Grand Metrics                                   ${25:Y/N}

      ### Metrics

      French Lesson:  ${26:-}
      Weight:         ${27:-}
      Squat:          ${28:-}
      OH Press:       ${29:-}
      Deadlift:       ${30:-}
      Bench:          ${31:-}
      Row:            ${32:-}

      ### Plan for next week

      ${33:Y/N}
    """
