'.source.python':
  'Python: pragma':
    'prefix': 'pgm'
    'body': """
    # -----------------------------------------------------------------------------
    # $1
    """
'.source.js':
  'React: componentDidMount() { ... }':
    prefix: 'cdm'
    body: 'componentDidMount() {\n\t${1}\n}${2}'

  'React: componentDidUpdate(pp, ps) { ... }':
    prefix: 'cdu'
    body: 'componentDidUpdate(${1}) {\n\t${2}\n}${3}'

  'React: componentWillMount() { ... }':
    prefix: 'cwm'
    body: 'componentWillMount() {\n\t${1}\n}${2}'

  'React: componentWillReceiveProps(np) { ... }':
    prefix: 'cwr'
    body: 'componentWillReceiveProps(nextProps) {\n\t${1}\n}${2}'

  'React: componentWillUnmount() { ... }':
    prefix: "cwun"
    body: "componentWillUnmount() {\n\t${1}\n}${2}"

  'React: componentWillUpdate(np, ns) { ... }':
    prefix: 'cwu'
    body: 'componentWillUpdate(${1}) {\n\t${2}\n}${3}'


  'React: class skeleton':
    prefix: 'rc'
    body: 'class ${1:Component} extends React.Component {\n\trender() {\n\t\treturn (\n\t\t\t${2:<div></div>}\n\t\t);\n\t}\n}'

  'React: setState({ ... })':
    prefix: 'sst'
    body: 'this.setState({\n\t${1}: ${2}\n});'

  'React: cx( ... )':
    prefix: 'clx'
    body: 'cx($1)'

  'React: pure component':
    prefix: 'pc'
    body: 'const ${1:Comp} = ({$2}) => {\n\t$3\n}'

  'JS: Pragma':
    prefix: 'pgm'
    body: '// ------------------------------------------------------------\n// ${1: Pragma}'

'.source.coffee':
  'Coffee: Pragma':
    'prefix': 'pgm'
    'body': '# ------------------------------------------------------------\n# ${1: Pragma}'

'.source.ruby':
  'Ruby: pragma':
    'prefix': 'pgm'
    'body': '# ------------------------------------------------------------\n# ${1: Pragma}'

'.source.css.scss':
  'CSS: pragma':
    'prefix': 'pgm'
    'body': '// ------------------------------------------------------------\n// ${1: Pragma}'

'.source.gfm':
  'Spec: Rich Hickey Style':
    'prefix': 'rhspec'
    'body': """
      # ${1: Title}

      ## The problem

      - ${2}

      ## What we know

      - ${3}

      ## Questions

      - ${4}

      ## Related Problems

      - ${5}

      ## Requirements

      - ${6}
    """
  'Routines: daily':
    'prefix': 'dl'
    'body': """
      | ${1:Date:} | |
      |---------------------------|---|
      | Wake up at 7AM?           | ${2:Y/N} |
      | 5H continuous work time?  | ${4:Y/N} |

      #### Notes:

      *(Family, Wit, Health, Relationships, Wackiness Level)*

      ${5}

    """
  'Routines: weekly':
    'prefix': 'wl'
    'body': """
      ### Weekly: ${1:Date:}

      | Family                                               |   |
      |------------------------------------------------------|---|
      | Do you know what they are up to and thinking?        | Y/N |

      #### Notes:

      ${2}

      | Wit                                                  |   |
      |------------------------------------------------------|---|
      | Where you a good leader and mentor?                  | Y/N |
      | Where you proactive, positive, execution oriented?   | Y/N |
      | Did you have 3+ 5H continuous work sessions?         | Y/N |

      #### Notes:

      ${3}

      | Health & Habits                                      |   |
      |------------------------------------------------------|---|
      | Did you work out 3 times?                            | Y/N |
      | Did you wake up at 7AM most days?                    | Y/N |

      #### Notes:

      ${4}

      | Relationships                                        |   |
      |------------------------------------------------------|---|
      | Have you met with at least two friends?              | Y/N |
      | Where you responsive?                                | Y/N |

      #### Notes:

      ${5}

      | State Checklist                                         |   |
      ----------------------------------------------------------|---|
      | Well Shaven                                             | Y/N |
      | Room is clean                                           | Y/N |
      | Nails taken care of                                     | Y/N |
      | Well groomed                                            | Y/N |
      | clean clothes ready                                     | Y/N |
      | Gym clothes in bag                                      | Y/N |
      | Spoken with Mamiko                                      | Y/N |
      | Spoken with Dediko                                      | Y/N |
      | Spoken with Nino                                        | Y/N |
      | Spoken with Eliza                                       | Y/N |
      | Worked at a consistent time                             | Y/N |
      | Omnifocus is reviewed                                   | Y/N |

      #### Plan for next week

      ${6}

      -----

    """
